global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    
frontend http_front
    bind *:443
    default_backend servers

backend servers
    server haproxy1-int haproxy1-int:80
