global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    
frontend http_front
    bind *:80
    default_backend servers

backend servers
    server java1 java1:80
    server java2 java2:80
